
	<div class="text-center">
		<h1 style="padding-top:20px;padding-bottom: 20px;"><strong>Welcome to Diva Services Data!</strong><small> (beta)</small></h1>
		
		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <h4><strong><a class="nav-link active" href="/collections">Collections</a></strong></h4>
		  </li>
		  <li class="nav-item">
		    <h4><strong><a class="nav-link" href="/addnewcollection">Add Collection</a></strong></h4>
		  </li>
		  <li class="nav-item">
		   <h4> <strong><a class="nav-link" href="/deletecollection">Delete Collection</a></strong></h4>
		  </li>
		  <li class="nav-item">
		    <h4><strong><a class="nav-link" href="/methods">Methods</a></strong></h4>
		  </li>
		  <li class="nav-item">
		    <h4><strong><a class="nav-link" href="/contact">Contact</a></strong></h4>
		  </li>
		</ul>
		
	</div>
