{% extends "divaTemplate.html" %}

{% block head_title %}{{block.super}} - about {% endblock head_title %}


{% block content %}

<br/>
<h1>About Diva Data </h1>
<br/>
<h3>Diva Data is created in the Diva group at the University of Fribourg, with a purpose to provide an easy to use GUI for Image Collections maintenance with access to Image Analysis Algorithms offered by the Diva Services web service.</h3>



{% comment %}

	OVDE PISE STA RADIM NA STRANICI

{% endcomment %}






{% endblock content %}