{% extends "divaTemplate.html" %}

{% block head_title %}{{block.super}} - {{name}}{% endblock head_title %}

{% block content %}

{% comment %}

Selected collection page

{% endcomment %}

<br/>
<br/>

<h4><strong><big>Collection:</big> {{name}}</strong> (<small class="text-muted"> <em><a href={{directLink}} target="_blank">DirectURL</a> </em></small> ) </h4>
<br/>

<em>
<a href="/uploader/{{name}}" >
<h4>Add files to collection </h4>
</a>
</em>
{{fileAlreadyExists}}

<br/>

<!-- <input type="file" name="file" style="margin-left: 30px;"> -->


<br/><br/>

<div style="margin-left: 5px;">
<h4>Status code: {{statusCode}}</h4>


<h4>Status mesage: {{statusMessage}}</h4>


<h4>Percentage: {{percentage}}%</h4>


<h4>Number of files: {{numberOfFiles}}</h4>
</div>

<br/><br/>



{% if isXML %}

{% for element, filename in images %}

<a href={{element}} target="_blank"><h5>{{forloop.counter}}. {{filename}} (Click to view) </h5></a>
<br/>
<br/>

{% endfor %}

{% else %}

<div class="row">
{% for element, filename in images %}

	<div class="col-md-4" style="padding-top: 10px;">
		<form method="post" enctype="multipart/form-data"> 
			{% csrf_token %}
			<input type='hidden' name='filename' value={{filename}}>
			<input type='hidden' name='name' value={{name}}>
			<h4 class="text-center justify-center">
				{{filename}}  
				<button type="submit" class="btn btn-primary" style="color:#fff; float: right; margin-bottom:10px;">
					<strong>delete</strong>
				</button>   
			</h4>
		</form>
		<a href={{element}} target="_blank" alt="alt testing" title={{filename}} style="border-style:1px solid black;">
			<img  src={{element}} alt={{filename}} style="height:350px;width:350px;border-radius:15px;"></img>
		</a>
	</div>


{% endfor %}
</div>

{% endif %}



<br/>


{% endblock content %}
