{% extends "divaTemplate.html" %}

{% block head_title %}{{block.super}} - collections {% endblock head_title %}


{% block content %}

{% include 'snippets/search_collections.html' %}

<br/>
<h1>Collections: {{name}} </h1>
<br/>

{% comment %}

	ISPOD OVOGA SAM DOHVATIO UKUPNE KOLEKCIJE i izlistao ih po imenu i url

{% endcomment %}



{% for item in collections %}
	<form id="my_form{{forloop.counter}}" method="post" enctype="multipart/form-data"> 
		<h4>
		<strong><a href='/collection/{{item.collection.name}}/'>{{item.collection.name}}</a></strong> (<small class="text-muted"> <em><a href="{{item.collection.url}}/" target="_blank">DirectURL</a> </em></small> )
		<!--<button type="submit" class="btn btn-primary" style="margin-left: 20px;">Delete</button> -->
		<small><a href="javascript:{}" onclick="document.getElementById('my_form{{forloop.counter}}').submit(); return false;">delete</a></small>
		</h4> 
		{% csrf_token %}
		<input type="hidden" name="name" value="{{item.collection.name}}" type="form-text" class="form-control" id="deleteCollectionName">
	</form>
{% endfor %}





{% endblock content %}
