{% extends "divaTemplate.html" %}




{% block content %}


<br/>
<h1>Delete collection: </h1>
<br/>

{% comment %}

	Dodaj kolekciju

{% endcomment %}

<form>

  <div class="form-group">
    <label for="exampleInputEmail1">Collection name</label>
    <input type="form-text" class="form-control" id="deleteCollectionName" placeholder="Enter collection name">
    <small id="emailHelp" class="form-text text-muted">Please double check collection name before deleting.</small>
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>







{% endblock content %}