{% extends "divaTemplate.html" %}

{% block head_title %}{{block.super}} - {{methodName}} {% endblock head_title %}


{% block content %}

<br/>
<h1>Method: {{methodName}}</h1>
<br/>
(<a href="http://divaservices.unifr.ch/api/v2/{{url}}/1/" target=_blank>direct link</a>)
<br/><br/>


{% comment %}

	OVDE IDE KONKRETAN METOD

{% endcomment %}
<form method="post" enctype="multipart/form-data"> 
<div class="row">
	
	<div class="col-md-6" style="padding-right: 20px;">
		{% for i, j in details %}
	  		<h4 style="margin-bottom: 10px;" title={{j}}>{{i}} : {{j}}</h4>
	  	{% endfor %}
	  	{% for name, details in filesInputDetails %}
	  		{% if forloop.counter0 == 0 %}
		  		<h3 style="margin-bottom: 20px;margin-top: 20px;">
		  			<strong>File input details
			  		<a href="javascript:void(0);" title="Click to view description">
			  		<span 
			  			class="glyphicon glyphicon-info-sign" 
			  			data-toggle="collapse" data-target="#collapseFileInputMessage">
			  		</span>
			  		</a>
			  		&nbsp:</strong>
		  		</h3>
		  		<div id="collapseFileInputMessage" class="collapse" style="margin: 10px 0;">
				<em>The input description needs to be closely followed in order for the method to work correctly.</em>
				</div>
		  	{% endif %}
	  		<h4 style="margin-bottom: 10px;">{{name}} : {{details}}</h4>
	  	{% endfor %}
	  	{% for name, details in foldersInputDetails %}
	  		{% if forloop.counter0 == 0 %}
	  			<h3 style="margin-bottom: 20px;margin-top: 20px;">
		  			<strong>Folder input details
			  		<a href="javascript:void(0);" title="Click to view description">
			  		<span
			  			class="glyphicon glyphicon-info-sign" 
			  			data-toggle="collapse" data-target="#collapseFileInputMessage">
			  		</span>
			  		</a>
			  		&nbsp:</strong>
		  		</h3>
		  		<div id="collapseFileInputMessage" class="collapse" style="margin: 10px 0;">
				<em>The input description needs to be closely followed in order for the method to work correctly.</em>
				</div>
	  		{% endif %}
	  		<h4 style="margin-bottom: 10px;" >{{name}} : {{details}}</h4>
	  	{% endfor %}
	</div>
	<div class="col-md-3">
	{% if not showFilesForm and not showCollectionsForm and not finalStep %}
		{% csrf_token %}	
				<input type='hidden' name='finalStep' value=True>
				<!-- Selects -->
				{% for element in selects %}
					<h3>select value for {{element.select.name}}:</h3>
					<select class="form-control ui fluid dropdown" id="select{{forloop.counter0}}" name="select{{forloop.counter0}}" required>
					  	{% for item in element.select.options.values %}
					  		{% if forloop.counter0 == element.select.options.default %}
					  		<option selected="selected">{{item}}</option>
					  		{% else %}
					  		<option>{{item}}</option>
					  		{% endif %}
					  	{% endfor %}
					  </select>
					  <br/>
				{% endfor %}

				<!-- Numbers -->
				{% for element in numbers %}
					<h3>{{element.number.name}} value: 
					  <label id="rangeValLabel{{forloop.counter}}">{{element.number.options.default}}</label>
					  <a href="javascript:void(0);" title="Click to view description"><span class="glyphicon glyphicon-info-sign" data-toggle="collapse" data-target="#demo{{forloop.counter}}"></span></a>

					<div id="demo{{forloop.counter}}" class="collapse" style="margin: 10px 0;">
						Description: &nbsp;<em>{{element.number.description}}</em>
					</div>

					</h3>
					<div>
					<a href="javascript:void(0);">
					  <input type="range" min={{element.number.options.min}} max={{element.number.options.max}}  value={{element.number.options.default}} step={{element.number.options.steps}}   class="slider" id="myRange{{forloop.counter0}}" name="myRange{{forloop.counter0}}"
	        			oninput="document.getElementById('rangeValLabel{{forloop.counter}}').innerHTML = this.value;"
	        			style="-webkit-appearance: none;
					    width: 100%;
					    background: #00CED1;
					    border-radius: 20px;
					    outline: none;
					    opacity: 0.7;
					    -webkit-transition: .2s;
					    transition: opacity .2s;">
					</div>
					</a>
					<br/>
				{% endfor %}

				<!-- Highlighters -->
				{% for element in highlighters %}
					<h3>highlither setup</h3>
					<select class="form-control ui fluid dropdown" id="highlighter{{forloop.counter0}}" name="highlighter{{forloop.counter0}}" required>
				  		{% if element.highlighter.type == 'rectangle' %}
				  		<option selected="selected">rectangle</option>
				  		<option>polygon</option>
				  		{% else %}
				  		<option selected="selected">polygon</option>
				  		<option>rectangle</option>
				  		{% endif %}
					  </select>
					  <br/><br/>
				{% endfor %}
	{% endif %}	
	{% if finalStep %}	
		<div class="row">
			<div class="col-xs-6">
				<table class="table table-hover">
				    <thead>
				      <tr>
				      	{% if numbers or selects %}
				        <th>Name</th>
				        {% endif %}
				      </tr>
				    </thead>
				    <tbody>
				      	{% for element in numbers %}
				      	<tr>
				      		<td> {{element.number.name}} </td>
				      	</tr>
						{% endfor %}
						{% for element in selects %}
						<tr>
							<td>{{element.select.name}} </td>
						</tr>
						{% endfor %}
				      </tr>
				    </tbody>
			  	</table>
				
			</div>
			<div class="col-xs-6">
				<table class="table table-hover">
				    <thead>
				      <tr>
				      	{% if numbers or selects %}
				        <th>Value</th>
				        {% endif %}
				      </tr>
				    </thead>
				    <tbody>
				      	{% for element in selectedNumbers %}
				      	<tr>
				      		<td> {{element}} </td>
				      	</tr>
						{% endfor %}
						{% for element in selectedSelects %}
						<tr>
							<td>{{element}} </td>
						</tr>
						{% endfor %}
				      </tr>
				    </tbody>
			  	</table>
			</div>
		</div>
		{% for element in selectedHighlighters %}
		<div class="row">
			<div class="col-xs-6">
				<table class="table table-hover">
				    <thead>
				      <tr>
				        <th>Hihglighter type</th>
				      </tr>
				    </thead>
				    <tbody>
				      	<tr>
				      		<td> {{element}} </td>
				      	</tr>
				    </tbody>
			  	</table>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>
	<div class="col-md-3">
		<!-- Highlighters -->
		{% if not showFilesForm and not showCollectionsForm and not finalStep and highlighters %}
					<h3>Select part of image below: <br/></h3>
				{% for collection in selectedInputJson.collections %}
					{% for file in collection.files %}
						{% if forloop.counter0 == 0 and not finalStep%}
							<div id="image" style="
									width: 250px;
						            height: 400px;
						            border: solid 1px black;
						            cursor: pointer;
						            position: relative;
						            z-index: 1;">

						            <div style="
										position: absolute;
									    z-index: 0;
									    top: 0;
									    bottom: 0;
									    left: 0;
									    right: 0;
									    background: url({{file.url}});
									    background-size:     contain;                   
									    background-repeat:   no-repeat;
									    background-position: left top;
									    background-color: grey;
									    opacity: 1;">
									</div>
						    </div>
							<div id="rect" style="
									z-index: 5 ;
									border: solid 2px red;
						            pointer-events: none;
						            display: none;">
						            
						    </div>	
							<div id="bounds">
								selected:
							</div>
							<input type='hidden' name='x0' id ='x0' value="">
							<input type='hidden' name='y0' id ='y0' value="">
							<input type='hidden' name='x1' id ='x1' value="">
							<input type='hidden' name='y1' id ='y1' value="">
							<script>
								function func() {

									document.body.scroll = "no";
									document.body.style.overflow = 'hidden';
									document.height = window.innerHeight;


							        var div = document.getElementById('image');
							        div.addEventListener('mousedown', mousedown);
							        div.addEventListener('mouseup', mouseup);
							        div.addEventListener('mousemove', mousemove);

							        var grab = false;
							        var rect = {
							            x0: 0,
							            y0: 0,
							            x1: 0,
							            y1: 0
							        };

							        function mousedown(e) {
							            grab = true;
							            rect.x0 = e.clientX;
							            rect.y0 = e.clientY;

							        }

							        function mousemove(e) {
							            if (grab) {
							                rect.x1 = e.clientX;
							                rect.y1 = e.clientY;
							                showRect();
							            }
							        }

							        function mouseup(e) {
							            grab = false;


							        }

							        function showRect() {
							            var rectDiv = document.getElementById('rect');
							            rectDiv.style.display = 'block';
							            rectDiv.style.position = 'fixed';

							            var x0;
							            var x1;
							            var y0;
							            var y1;

							            if(rect.x0<rect.x1) {
							            	rectDiv.style.left = rect.x0 + 'px';
							            	rectDiv.style.width = (rect.x1 - rect.x0) + 'px';
							            	x0 = rect.x0 - ($('#image').offset().left - $(window).scrollLeft())
							            	x1 = rect.x1 - ($('#image').offset().left - $(window).scrollLeft())
							            } else {
							            	rectDiv.style.left = rect.x1 + 'px';
							            	rectDiv.style.width = (rect.x0 - rect.x1) + 'px';
							            	x0 = rect.x1 - ($('#image').offset().left - $(window).scrollLeft())
							            	x1 = rect.x0 - ($('#image').offset().left - $(window).scrollLeft())
							            }
							            if(rect.y0 < rect.y1) {
							            	rectDiv.style.top = rect.y0 + 'px';
							            	rectDiv.style.height = (rect.y1 - rect.y0) + 'px';
							            	y0 = rect.y0 - ($('#image').offset().top - $(window).scrollTop())
							            	y1 = rect.y1 - ($('#image').offset().top - $(window).scrollTop())
							        	} else {
							        		rectDiv.style.top = rect.y1 + 'px';
							        		rectDiv.style.height = (rect.y0 - rect.y1) + 'px';
							        		y0 = rect.y1 - ($('#image').offset().top - $(window).scrollTop())
							            	y1 = rect.y0 - ($('#image').offset().top - $(window).scrollTop())
							        	}

							            var boundsDiv = document.getElementById('bounds');

										boundsDiv.innerText = 'selected: ' + x0 + ',' + y0 + ' to ' + x1 + ',' + y1;

							           	var x00 = document.getElementById('x0');
							           	var y00 = document.getElementById('y0');
							           	var x11 = document.getElementById('x1');
							           	var y11 = document.getElementById('y1');

							            x00.value = x0;
							            y00.value = y0;
							            x11.value = x1;
							            y11.value = y1;
							        }

							    }

							    window.onload = func;
							</script>
						{% endif %}
					{% endfor %}
				{% endfor %}
		{% endif %}		
	</div>
	

</div>

{% if not showFilesForm and not showCollectionsForm and not finalStep %}
<button type="submit" class="btn btn-primary" value="applyMethod" style="margin-top:20px;"><strong>Apply method</strong></button>
{% endif %}	
</form>

{% if showCollectionsForm %}
<div style="width: 400px;">
<form method="post" enctype="multipart/form-data" style="margin-top:60px;">
  <input type='hidden' name='url' value="{{url}}">
  <input type='hidden' name='methodName' value="{{methodName}}">
  <input type='hidden' name='applicationFlag' value=False>

  {% for element in filesInputDetailsName %}
  <label for="fileCollection{{forloop.counter0}}">Select collection for {{element}} file:</label>
  <select class="form-control" id="fileCollection{{forloop.counter0}}" name="fileCollection{{forloop.counter0}}" required>
  	<option label="" value=""> -- </option>
  	{% for item in collections %}
  	<option>{{item.collection.name}}</option>
  	{% endfor %}
  	{% csrf_token %} 
  </select>
  {% endfor %}

  {% for element in foldersInputDetailsName %}
  <label for="folderCollection{{forloop.counter0}}">Select collection for {{element}} folder:</label>
  <select class="form-control" id="folderCollection{{forloop.counter0}}" name="folderCollection{{forloop.counter0}}" required>
  	<option label="" value=""> -- </option>
  	{% for item in collections %}
  	<option>{{item.collection.name}}</option>
  	{% endfor %}
  	{% csrf_token %} 
  </select>
  {% endfor %}


  <br/><br/><br/>

  <button type="submit" class="btn btn-primary" value="select">Select Collection</button>
</form>
</div>
{% endif %}

	
{% if showFilesForm %}
<form method="post" enctype="multipart/form-data" style="margin-top:30px;">
  <input type='hidden' name='url' value="{{url}}">
  <input type='hidden' name='sel1' value="{{name}}">
  <input type='hidden' name='methodName' value="{{ methodName }}">
  <input type='hidden' name='applicationFlag' value=True>

{% for colName, imgNames in colectionsFilesNames %}
  <label for="fileNames{{forloop.counter0}}">Select files from {{colName}}:</label>
  {% if highlightersExist or multipleInput %}
 	<select class="form-control ui fluid dropdown" id="fileNames{{forloop.counter0}}" name="fileNames{{forloop.counter0}}" size='4' required>
	  	{% for item in imgNames %}
	  	<option>{{item}}</option>
	  	{% endfor %}
	  	{% csrf_token %} 
  	</select>
  {% else %}
	<select class="form-control ui fluid dropdown" id="fileNames{{forloop.counter0}}" name="fileNames{{forloop.counter0}}" multiple="" required>
		{% for item in imgNames %}
		<option>{{item}}</option>
		{% endfor %}
		{% csrf_token %} 
	</select>
  {% endif %}
{% endfor %}
	


  <br/><br/><br/>
	{% csrf_token %} 
  <button type="submit" class="btn btn-primary" value="selectFiles">Select files</button>
</form>
{% endif %}

{% if isXML %}
<br/>

{% for i,j in images %}

<a href={{i}} target="_blank"><h5>{{forloop.counter}}. {{j}} (Click to view) </h5></a>

<br/>

{% endfor %}

{% else %}

	{% if not showFilesForm and not showCollectionsForm %}

		{% if highlightersExist %}	
			{% if finalStep %}
				{% for collection in selectedInputJson.collections %}
					<div class="row">
						<div class="col-md-12">	
							<h1>From collection: {{collection.name}}</h1>
						</div>
					</div>
					<div class="row">
						
							{% for file in collection.files %}
							<div class="col-md-4" style="padding-top: 10px;">
								<h4 class="text-center justify-center">
									<label style="width:200px;text-overflow: ellipsis; overflow:hidden; white-space: nowrap;" title={{file.filename}}>{{file.filename}}</label>
								</h4>
								
								<a href={{file.url}} target="_blank" alt="alt testing" title={{file.url}} style="border-style:1px solid black;">
									<img  src={{file.url}} alt={{file.url}} style="max-height:350px;max-width:350px;border-radius:15px;"></img>
								</a>
							</div>
							{% endfor %}
					</div> 
				{% endfor %}
			{% endif %}
		{% else %}
			{% for collection in selectedInputJson.collections %}
					<div class="row">
						<div class="col-md-12">	
							<h1>From collection: {{collection.name}}</h1>
						</div>
					</div>
					<div class="row">
						
							{% for file in collection.files %}
							<div class="col-md-4" style="padding-top: 10px;">
								<h4 class="text-center justify-center">
									<label style="width:200px;text-overflow: ellipsis; overflow:hidden; white-space: nowrap;" title={{file.filename}}>{{file.filename}}</label>
								</h4>
								
								<a href={{file.url}} target="_blank" alt="alt testing" title={{file.url}} style="border-style:1px solid black;">
									<img  src={{file.url}} alt={{file.url}} style="max-height:350px;max-width:350px;border-radius:15px;"></img>
								</a>
							</div>
							{% endfor %}
					</div> 
				{% endfor %}
		{% endif %}

			
				
				<!--	
					<div class="row">
						
						<div class="col-md-4" style="padding-top: 10px;">
							<form method="post" enctype="multipart/form-data"> 
								{% csrf_token %}

								<input type='hidden' name='filename' value={{j}}>

								<input type='hidden' name='name' value={{name}}>

								<h4 class="text-center justify-center">
									<label style="width:200px;text-overflow: ellipsis; overflow:hidden; white-space: nowrap;" title={{j}}>{{j}}</label>
								</h4>
							</form>
							<a href={{urls}} target="_blank" alt="alt testing" title={{names}} style="border-style:1px solid black;">
								<img  src={{urls}} alt={{names}} style="max-height:350px;max-width:350px;border-radius:15px;"></img>
							</a>
						</div>
						
					
					</div>
					
				-->
			
		
			{% if finalStep %}
				<br/>
				<br/>
				<div class="row">
					{% if resultingImagesZip %}
					<h1>Resulting images: <br/></br>
						<form method="post" enctype="multipart/form-data" >
							{% csrf_token %} 
							<input type='hidden' name='makeCollection' value=True>
							<div class="input-group" style="margin-top:10px;">
								<input type="text" name="newCollectionName" class="form-control" placeholder="Enter name and click to create a new collection containing your results.." style="height: 30px; width:300px;" required>
						      
						      <span class="input-group-btn">
						      	<button class="btn btn-secondary hoverable" type="submit" style="height: 30px; background-color: #00CED1;"><strong>Create Collection With Results</strong></button>
						      </span>
						      
						 	</div>
						</form>
					</h1>
					{% endif %}
					<br/>
					<br/>
				</div>
				<div class="row">	
				{% for image, url, name in resultingImagesZip %}
					<div class="col-md-4" style="padding-top: 10px;">
						<h4 class="text-center justify-center">
							<label style="width:200px;text-overflow: ellipsis; overflow:hidden; white-space: nowrap;" title={{forloop.counter0}}>{{name}}<small><a href={{url}} target="_blank">(directLink)</a></small></label>
							
						</h4>
						<a href={{image}} target="_blank" alt="alt testing" style="border-style:1px solid black;">
							<img src="{{image}}" style="max-height:350px;max-width:350px;border-radius:15px;"></img>
						</a>
					</div>
				{% endfor %}
				</div>
			{% endif %}
		
</div>
	{% endif %}
{% endif %}

{% endblock content %}