{% extends "divaTemplate.html" %}

{% block head_title %}{{block.super}} - {{methodName}} {% endblock head_title %}


{% block content %}

<br/>
<h1>Method: {{methodName}}</h1>
<br/>
(<a href="http://divaservices.unifr.ch/api/v2/{{url}}/1/" target=_blank>direct link</a>)
<br/><br/>


{% comment %}

	OVDE IDE KONKRETAN METOD

{% endcomment %}
<form method="post" enctype="multipart/form-data"> 
<div class="row">
	
	<div class="col-md-6" style="padding-right: 20px;">
		{% for i, j in details %}
	  		<h4 style="margin-bottom: 10px;" title={{j}}>{{i}} : {{j}}</h4>
	  	{% endfor %}
	</div>
	<div class="col-md-6">
	{% if not showFilesForm and not showCollectionsForm and not finalStep %}
		{% csrf_token %}	
				<input type='hidden' name='finalStep' value=True>
				<!-- Selects -->
				{% for element in selects %}
					<h3>select value for {{element.select.name}}:</h3>
					<select class="form-control ui fluid dropdown" id="select{{forloop.counter0}}" name="select{{forloop.counter0}}" required>
					  	{% for item in element.select.options.values %}
					  		{% if forloop.counter0 == element.select.options.default %}
					  		<option selected="selected">{{item}}</option>
					  		{% else %}
					  		<option>{{item}}</option>
					  		{% endif %}
					  	{% endfor %}
					  </select>
					  <br/>
				{% endfor %}

				<!-- Numbers -->
				{% for element in numbers %}
					<h3>{{element.number.name}} value: 
					  <label id="rangeValLabel{{forloop.counter}}">{{element.number.options.default}}</label>
					  <a href="javascript:void(0);" title="Click to view description"><span class="glyphicon glyphicon-info-sign" data-toggle="collapse" data-target="#demo{{forloop.counter}}"></span></a>

					<div id="demo{{forloop.counter}}" class="collapse" style="margin: 10px 0;">
						Description: &nbsp;<em>{{element.number.description}}</em>
					</div>

					</h3>
					<div>
					<a href="javascript:void(0);">
					  <input type="range" min={{element.number.options.min}} max={{element.number.options.max}}  value={{element.number.options.default}} step={{element.number.options.steps}}   class="slider" id="myRange{{forloop.counter0}}" name="myRange{{forloop.counter0}}"
	        			oninput="document.getElementById('rangeValLabel{{forloop.counter}}').innerHTML = this.value;"
	        			style="-webkit-appearance: none;
					    width: 100%;
					    background: #00CED1;
					    border-radius: 20px;
					    outline: none;
					    opacity: 0.7;
					    -webkit-transition: .2s;
					    transition: opacity .2s;">
					</div>
					</a>
					<br/>
				{% endfor %}

				<!-- Highlighters -->
				{% for element in highlighters %}
					<h3>highlither setup</h3>
					<select class="form-control ui fluid dropdown" id="highlighter{{forloop.counter0}}" name="highlighter{{forloop.counter0}}" required>
				  		{% if element.highlighter.type == 'rectangle' %}
				  		<option selected="selected">rectangle</option>
				  		<option>polygon</option>
				  		{% else %}
				  		<option selected="selected">polygon</option>
				  		<option>rectangle</option>
				  		{% endif %}
					  </select>
					  <br/>
				{% endfor %}



				<!-- To Be Done Image -->
				<!--<img src="https://pbs.twimg.com/profile_images/758384439021805568/xnnzxfF0_400x400.jpg" style="max-height:350px;max-width:350px;border-radius:15px;"></img> -->

	{% endif %}	
	{% if finalStep %}	
		<div class="row">
			<div class="col-xs-6">
				<table class="table table-hover">
				    <thead>
				      <tr>
				        <th>Name</th>
				      </tr>
				    </thead>
				    <tbody>
				      	{% for element in numbers %}
				      	<tr>
				      		<td> {{element.number.name}} </td>
				      	</tr>
						{% endfor %}
						{% for element in selects %}
						<tr>
							<td>{{element.select.name}} </td>
						</tr>
						{% endfor %}
				      </tr>
				    </tbody>
			  	</table>
				
			</div>
			<div class="col-xs-6">
				<table class="table table-hover">
				    <thead>
				      <tr>
				        <th>Value</th>
				      </tr>
				    </thead>
				    <tbody>
				      	{% for element in selectedNumbers %}
				      	<tr>
				      		<td> {{element}} </td>
				      	</tr>
						{% endfor %}
						{% for element in selectedSelects %}
						<tr>
							<td>{{element}} </td>
						</tr>
						{% endfor %}
				      </tr>
				    </tbody>
			  	</table>
			</div>
		</div>
		{% for element in selectedHighlighters %}
		<div class="row">
			<div class="col-xs-6">
				<table class="table table-hover">
				    <thead>
				      <tr>
				        <th>Hihglighter type</th>
				      </tr>
				    </thead>
				    <tbody>
				      	<tr>
				      		<td> {{element}} </td>
				      	</tr>
				    </tbody>
			  	</table>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>
	

</div>
{% if not showFilesForm and not showCollectionsForm and not finalStep %}
<button type="submit" class="btn btn-primary" value="applyMethod" style="margin-top:20px;"><strong>Apply method</strong></button>
{% endif %}	
</form>

{% if showCollectionsForm %}
<form method="post" enctype="multipart/form-data" style="margin-top:60px;">
  <input type='hidden' name='url' value={{url}}>
  <input type='hidden' name='methodName' value={{methodName}}>
  <input type='hidden' name='applicationFlag' value=False>
  <label for="sel1">Select collection:</label>
  <select class="form-control" id="sel1" name="sel1" required>
  	<option label="" value=""> -- select a collection -- </option>
  	{% for item in collections %}
  	<option>{{item.collection.name}}</option>
  	{% endfor %}
  	{% csrf_token %} 
  </select>

  <br/><br/><br/>

  <button type="submit" class="btn btn-primary" value="select">Select Collection</button>
</form>
{% else %}
<br/><br/>
<h1>From collection: {{collectionName}}</h1>

{% endif %}

	
{% if showFilesForm  %}
<form method="post" enctype="multipart/form-data" style="margin-top:30px;">
  <input type='hidden' name='url' value={{url}}>
  <input type='hidden' name='sel1' value={{name}}>
  <input type='hidden' name='methodName' value={{methodName}}>
  <input type='hidden' name='applicationFlag' value=True>
  <label for="sel2">Select files:</label>
  <select class="form-control ui fluid dropdown" id="sel2" name="sel2" multiple="" required>
  	{% for item in imgNames %}
  	<option>{{item}}</option>
  	{% endfor %}
  	{% csrf_token %} 
  </select>

  <br/><br/><br/>

  <button type="submit" class="btn btn-primary" value="selectFiles">Select files</button>
</form>
{% endif %}

{% if isXML %}
<br/>

{% for i,j in images %}

<a href={{i}} target="_blank"><h5>{{forloop.counter}}. {{j}} (Click to view) </h5></a>

<br/>

{% endfor %}

{% else %}

	{% if not showFilesForm and not showCollectionsForm %}
		<div class="row">
		{% for i,j in images %}

			<div class="col-md-4" style="padding-top: 10px;">
				<form method="post" enctype="multipart/form-data"> 
					{% csrf_token %}
					<input type='hidden' name='filename' value={{j}}>
					<input type='hidden' name='name' value={{name}}>
					<h4 class="text-center justify-center">
						<label style="width:200px;text-overflow: ellipsis; overflow:hidden; white-space: nowrap;" title={{j}}>{{j}}</label>
					</h4>
				</form>
				<a href={{i}} target="_blank" alt="alt testing" title={{j}} style="border-style:1px solid black;">
					<img  src={{i}} alt={{j}} style="max-height:350px;max-width:350px;border-radius:15px;"></img>
				</a>
			</div>


		{% endfor %}
		</div>
		<!--
		<h1 style="margin-top:40px;">Results:</h1>
		<div class="row">
		
		</div>
		-->
		{% if finalStep %}
			<br/><br/>
			<h1>Resulting images: </h1>
			(<a href="{{responseToMethodApplication.results.0.resultLink}}" target=_blank>direct link</a>)
			<br/>
			{{resultingImages}}
			{% for image in resultingImages %}
				<a href={{image}} target="_blank" alt="alt testing" style="border-style:1px solid black;">
					<img src="{{image}}" style="max-height:350px;max-width:350px;border-radius:15px;"></img>
				</a>
			{% endfor %}
		{% endif %}
	{% endif %}
{% endif %}



<!--<div class="row" style="margin-top:60px;">
	<div class="col-md-6">
		the image will go here
	</div>
	<div class="col-md-6">
		the automatic input will go here
	</div>
</div>-->



{% endblock content %}